.glass{
  background: rgba(20, 20, 20, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(10px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}

.bg{
  background-image: url('./assets/image.png');
  background-size: cover;
}